/* основной цвет текста #212121*/
/* эффект наведения на текст #2196F3*/
/* цвет текста имейл и тел. #757575*/
/* футер rgba(255, 255, 255, 0.6);*/
/* футер наведение #FFFFFF*/
:root {
  --primary-text-color: #212121;
  --white: #ffffff;
  --bg-effects-color: #2196f3;
  --site-nav-color: #2196f3;
  --secondary-bg-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* WebStudio */

.web {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: #2196f3;
}

.studio-top {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--primary-text-color);
}

.studio-bottom {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--white);
  background-color: var(--secondary-bg-color);
}

/* header-contacts */

.header-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #2196f3;
}

/* hero-section */

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  background-color: #2f303a;
  color: var(--white);
}

.button {
  color: var(--white);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--bg-effects-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: var(--white);

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  color: var(--primary-text-color);
}

.section-sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  color: var(--primary-text-color);
}

.section-sub-title-text {
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  color: #757575;
}

/* site-nav */

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--site-nav-color);
}
.site-nav .link.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--site-nav-color);
}

/* filter-menu */

.filter .button {
  background: #f5f4fa;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.filter .button:hover,
.filter .button:focus {
  background: var(--bg-effects-color);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* footer-contacts */

.footer-contacts .link {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--white);
}
